<div class="container">
  <div id="logreg-forms">
    <form class="form-signin">
      <div class="row justify-content-center">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <h1 class="h3 mb-3 font-weight-normal" style="text-align: center">Médico(a) - Sign up</h1>
          <%= render "shared/errors", obj: resource %>

          <div class="field">
            <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email", class: "form-control shadow rounded" %>
          </div>

          <div class="field">
            <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %><br />
            <%= f.password_field :password, autocomplete: "new-password", placeholder: "Senha", class: "form-control shadow rounded" %>
          </div>

          <div class="field">
            <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Confirme a senha", class: "form-control shadow rounded" %>
          </div>

          <div class="field">
            <%= f.text_field :name, placeholder: "Nome", class: "form-control shadow rounded" %>
          </div>

          <div class="field">
            <%= f.text_field :cpf, placeholder: "CPF", class: "form-control shadow rounded" %>
          </div>

          <div class="field">
            <%= f.text_field :phone, placeholder: "Telefone (xx) xxxxx-xxxx", class: "form-control shadow rounded" %>
          </div>

          <div class="field">
            <%= f.label :data_de_nascimento %>
            <%= f.date_field :birthday, as: :date, value: f.object.try(:strftime,"%m/%d/%Y"), class: "form-control shadow rounded" %> 
          </div>

          <div class="field">
            <%= f.text_field :crm, placeholder: "CRM", class: "form-control shadow rounded" %>
          </div>

          <div class="field">
            <div class="form-control shadow rounded">
              <%= f.label "Área de Ocupação" %>
              <%= f.text_field :speciality_id, placeholder: 'ID da área de atuação' %>
            </div>
          </div>
          
          <div class="form-group row justify-content-center">
            <%= f.submit "Sign up", class: "btn btn-outline-light btn-lg signup" %>
            <style> 
              .btn.btn-outline-light.btn-lg.signup {
                  background-color: blue;
                  transition: all 0.3s;
                  cursor: pointer;
                  align-items: center;
              }
              .btn.btn-outline-light.btn-lg.signup:hover{
                -webkit-filter: drop-shadow(7px 5px 3px rgba(0,0,0,.5));
                filter: drop-shadow(7px 5px 3px rgba(0,0,0,.5));
              }
            </style>  
          </div>

           <div class="form-group row justify-content-center">
            <%= link_to "Back", new_session_path(resource_name), class: "btn btn-outline-light btn-lg back" %><br/>
            <style> 
              .btn.btn-outline-light.btn-lg.back {
                  background-color: #ff0000;
                  transition: all 0.3s;
                  cursor: pointer;
                  align-items: center;
              }
              .btn.btn-outline-light.btn-lg.back:hover{
                -webkit-filter: drop-shadow(7px 5px 3px rgba(0,0,0,.5));
                filter: drop-shadow(7px 5px 3px rgba(0,0,0,.5));
              }
            </style>  
          </div>
        <% end %>
      </div>
    </form>
  </div>
</div>
