<p id="notice"><%= notice %></p>

<p>
  <strong>Consultation:</strong>
  <%= @prescription.consultation_id %>
</p>

<p>
  <strong>Description:</strong>
  <%= @prescription.description %>
</p>

<%= link_to 'Edit', edit_prescription_path(@prescription) %> |
<%= link_to 'Back', prescriptions_path %>
