<div class="container">
  <div id="logreg-forms">
    <div class="row justify-content-center">
      <% if consultation.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(consultation.errors.count, "erro") %> ao tentar agendar a consulta!</h2>

          <ul>
            <% consultation.errors.each do |error| %>
              <li><%= error.full_message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <%= form_with(model: consultation) do |f| %>
        <h1 class="h3 mb-3 font-weight-normal" style="text-align: center">Agendamento de Consulta</h1>

        <% if current_doctor.present? %>
          <div class="field">
            <div class="form-control shadow rounded">
              <%= f.label "Paciente" %>
              <%= f.collection_select :patient_id, Patient.order(:name), :id, :name %>
            </div>
          </div>

          <%= f.hidden_field :doctor_id, value: current_doctor.id %>
        <% else %>
          <div class="field">
            <div class="form-control shadow rounded">
              <%= f.label "Médico(a)" %>
              <%= f.collection_select :doctor_id, Doctor.order(:name), :id, :name %>
            </div>
          </div>
          <%= f.hidden_field :patient_id, value: current_patient.id %>
        <% end %>

        <div class="field">
          <%= f.date_field :consultation_date, class: "form-control shadow rounded", placeholder: "Data" %>
        </div>

        <div class="field">
          <%= f.text_field :horary, class: "form-control shadow rounded", placeholder: "Horário: xx:xx" %> 
        </div>

        <hr>
        <div class="form-group row justify-content-center">
            <%= f.submit "Agendar", class: "btn btn-outline-light btn-lg signup" %>
            <style> 
              .btn.btn-outline-light.btn-lg.signup {
                  background-color: green;
                  transition: all 0.3s;
                  cursor: pointer;
                  align-items: center;
              }
              .btn.btn-outline-light.btn-lg.signup:hover{
                -webkit-filter: drop-shadow(7px 5px 3px rgba(0,0,0,.5));
                filter: drop-shadow(7px 5px 3px rgba(0,0,0,.5));
              }
            </style>  
          </div>

          <div class="form-group row justify-content-center">
            <%= link_to "Voltar", "/dashboard/doctor#consults", class: "btn btn-outline-light btn-lg back" %><br/> 
            <style> 
              .btn.btn-outline-light.btn-lg.back {
                  background-color: red;
                  transition: all 0.3s;
                  cursor: pointer;
                  align-items: center;
              }
              .btn.btn-outline-light.btn-lg.back:hover{
                -webkit-filter: drop-shadow(7px 5px 3px rgba(0,0,0,.5));
                filter: drop-shadow(7px 5px 3px rgba(0,0,0,.5));
              }
            </style>  
          </div>
      <% end %>
    </div>
  </div>
</div>



