<p id="notice"><%= notice %></p>

<h1>Consultations</h1>

<table>
  <thead>
    <tr>
      <th>Patient</th>
      <th>Doctor</th>
      <th>Consultation date</th>
      <th>Link</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @consultations.each do |consultation| %>
      <tr>
        <td><%= consultation.patient_id %></td>
        <td><%= consultation.doctor_id %></td>
        <td><%= consultation.consultation_date %></td>
        <td><%= consultation.link %></td>
        <td><%= link_to 'Show', consultation %></td>
        <td><%= link_to 'Edit', edit_consultation_path(consultation) %></td>
        <td><%= link_to 'Destroy', '/consultation/:id/destroy', method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Consultation', new_consultation_path %>
