<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Web Medical Clinic</title>
        <!-- Font Awesome icons (free version)-->
        <script src="https://use.fontawesome.com/releases/v5.15.4/js/all.js" crossorigin="anonymous"></script>
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" rel="stylesheet" type="text/css" />
    </head>
    <body id="page-top">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
            <div class="container">
                <%# <a class="navbar-brand" href="#page-top"><%= image_tag("navbar-logo.svg", class: "navbar-logo", id: "icon") ></a> %>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    Menu
                    <i class="fas fa-bars ms-1"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav text-uppercase ms-auto py-4 py-lg-0">
                        <li class="nav-item"><a class="nav-link" href="#services">Features</a></li><style></style>
                        <li class="nav-item"><a class="nav-link" href="#portfolio">Casos de Uso</a></li>
                        <li class="nav-item"><a class="nav-link" href="#team">Devs</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Masthead-->
        <header class="masthead">
            <% image_tag("header-bg.jpg", class: "background-image", id: "header-bg.jpg") %>
            <div class="container">
                <div class="masthead-subheading">Bem vindo(a)!</div>
                <div class="masthead-heading text-uppercase">CLÍNICA MÉDICA ONLINE</div>
                <a class="btn btn-primary btn-xl text-uppercase" href="/dashboard/doctor">Médico</a><style> .btn-xl.text-uppercase {color: #6f0000} </style>
                <a class="btn btn-primary btn-xl text-uppercase" href="/dashboard/patient">Paciente</a>
            </div>
        </header>
        <!-- Services-->
        <section class="page-section" id="services">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase">FEATURES</h2>
                    <h3 class="section-subheading text-muted">Foram implementados as seguintes features na aplicação:</h3>
                </div>
                <div class="row text-center">
                    <div class="col-md-4">
                        <span class="fa-stack fa-4x">
                            <i class="fas fa-circle fa-stack-2x text-primary"></i>
                            <i class="fas fa-laptop fa-stack-1x fa-inverse"></i>
                        </span>
                        <h4 class="my-3">Design Responsivo</h4>
                        <p class="text-muted">O site desenvolvido dá suporte tanto para desktop quanto para mobile.</p>
                    </div>
                    <div class="col-md-4">
                        <span class="fa-stack fa-4x">
                            <i class="fas fa-circle fa-stack-2x text-primary"></i>
                            <i class="fas fa-lock fa-stack-1x fa-inverse"></i>
                        </span>
                        <h4 class="my-3">Autenticação e Segurança</h4>
                        <p class="text-muted">Somente usuários autenticados têm acesso a aplicação, além disso, as senhas são encriptogradas antes de serem salvas no banco de dados.</p>
                    </div>
                </div>
            </div>
        </section><hr>
        <!-- Portfolio Grid-->
        <section class="page-section bg-light" id="portfolio">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase">Casos de Uso</h2>
                    <h3 class="section-subheading text-muted">Alguns UseCases suportados pela aplicação.</h3>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-sm-6 mb-4">
                        <!-- Portfolio item 1-->
                        <div class="portfolio-item">
                            <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal1">
                                <div class="portfolio-hover">
                                    <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                                </div>
                                <%= image_tag("portfolio/1.jpg", class: "img-fluid", id: "portfolio-1") %>
                            </a>
                            <div class="portfolio-caption">
                                <div class="portfolio-caption-heading">Cadastro</div>
                                <div class="portfolio-caption-subheading text-muted">Médicos e Pacientes</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 mb-4">
                        <!-- Portfolio item 2-->
                        <div class="portfolio-item">
                            <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal2">
                                <div class="portfolio-hover">
                                    <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                                </div>
                                <%= image_tag("portfolio/2.jpg", class: "img-fluid", id: "portfolio-2") %>
                            </a>
                            <div class="portfolio-caption">
                                <div class="portfolio-caption-heading">Login</div>
                                <div class="portfolio-caption-subheading text-muted">Autenticação de Usuários</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 mb-4">
                        <!-- Portfolio item 3-->
                        <div class="portfolio-item">
                            <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal3">
                                <div class="portfolio-hover">
                                    <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                                </div>
                                <%= image_tag("portfolio/3.jpg", class: "img-fluid", id: "portfolio-3") %>
                            </a>
                            <div class="portfolio-caption">
                                <div class="portfolio-caption-heading">Agendamento</div>
                                <div class="portfolio-caption-subheading text-muted">Conexão Paciente-Médico</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
                        <!-- Portfolio item 4-->
                        <div class="portfolio-item">
                            <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal4">
                                <div class="portfolio-hover">
                                    <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                                </div>
                                <%= image_tag("portfolio/4.jpg", class: "img-fluid", id: "portfolio-4") %>
                            </a>
                            <div class="portfolio-caption">
                                <div class="portfolio-caption-heading">Consulta</div>
                                <div class="portfolio-caption-subheading text-muted">Integração com o Google Meet</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 mb-4 mb-sm-0">
                        <!-- Portfolio item 5-->
                        <div class="portfolio-item">
                            <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal5">
                                <div class="portfolio-hover">
                                    <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                                </div>
                                <%= image_tag("portfolio/5.jpg", class: "img-fluid", id: "portfolio-5") %>
                            </a>
                            <div class="portfolio-caption">
                                <div class="portfolio-caption-heading">Anamnese</div>
                                <div class="portfolio-caption-subheading text-muted">Pesquisa para os Pacientes</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <!-- Portfolio item 6-->
                        <div class="portfolio-item">
                            <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal6">
                                <div class="portfolio-hover">
                                    <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                                </div>
                                <%= image_tag("portfolio/6.jpg", class: "img-fluid", id: "portfolio-6") %>
                            </a>
                            <div class="portfolio-caption">
                                <div class="portfolio-caption-heading">Histórico</div>
                                <div class="portfolio-caption-subheading text-muted">Consultas Realizadas</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section><hr>
        <!-- Team-->
        <section class="page-section bg-light" id="team">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase">Time de Desenvolvedores</h2>
                    <h3 class="section-subheading text-muted">A aplicação foi desenvolvida pelos seguintes colaboradores.</h3>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="team-member">
                            <%= image_tag("team/1.jpg", class: "mx-auto rounded-circle", id: "team-1") %>
                            <h4>Thiago Henrique</h4>
                            <p class="text-muted">Backend & Frontend</p>
                            <a class="btn btn-dark btn-social mx-2" href="https://twitter.com/thileite_" target="_blank"><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-dark btn-social mx-2" href="https://facebook.com/thiagohenrique.leitesilva" target="_blank"><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-dark btn-social mx-2" href="https://www.linkedin.com/in/thiagoleitesilva/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="team-member">
                            <%= image_tag("team/2.jpg", class: "mx-auto rounded-circle", id: "team-2") %>
                            <h4>Vitor Martini</h4>
                            <p class="text-muted">Frontend & Arquitetura</p>
                            <a class="btn btn-dark btn-social mx-2" href="https://twitter.com/" target="_blank"><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-dark btn-social mx-2" href="https://facebook.com/" target="_blank"><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-dark btn-social mx-2" href="https://www.linkedin.com/in/vitor-martini/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="team-member">
                            <%= image_tag("team/3.jpg", class: "mx-auto rounded-circle", id: "team-3") %>
                            <h4>Pedro Dousseau</h4>
                            <p class="text-muted">Frontend</p>
                            <a class="btn btn-dark btn-social mx-2" href="https://twitter.com/" target="_blank"><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-dark btn-social mx-2" href="https://facebook.com/" target="_blank"><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-dark btn-social mx-2" href="https://linkedin.com/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                     <div class="col-lg-4">
                        <div class="team-member">
                            <%= image_tag("team/4.jpg", class: "mx-auto rounded-circle", id: "team-3") %>
                            <h4>Vitor C</h4>
                            <p class="text-muted">Frontend</p>
                            <a class="btn btn-dark btn-social mx-2" href="https://twitter.com/" target="_blank"><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-dark btn-social mx-2" href="https://facebook.com/" target="_blank"><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-dark btn-social mx-2" href="https://linkedin.com/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-8 mx-auto text-center"><p class="large text-muted">Caso deseje saber mais sobre como a aplicação foi desenvolvida, entre em contato pelas redes sociais informadas.</p></div>
                </div>
            </div>
        </section>
        <!-- Footer-->
        <footer class="footer py-4">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-4 text-lg-start">Copyright &copy; WebMedicalClinic#Unifesp</div>
                    <div class="col-lg-4 my-3 my-lg-0"></div>
                    <div class="col-lg-4 text-lg-end">
                        <a class="link-dark text-decoration-none me-3" href="#!">Privacy Policy</a>
                        <a class="link-dark text-decoration-none" href="#!">Terms of Use</a>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Portfolio Modals-->
        <!-- Portfolio item 1 modal popup-->
        <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="close-modal" data-bs-dismiss="modal"><%= image_tag("close-icon.svg", class: "close-modal", id: "close-icon") %></div>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <div class="modal-body">
                                    <!-- Project details-->
                                    <h2 class="text-uppercase">Cadastro de Usuários</h2>
                                    <p class="item-intro text-muted">Médicos e Pacientes.</p>
                                    <%= image_tag("portfolio/1.jpg", class: "img-fluid d-block mx-auto", id: "portfolio-1") %>
                                    <p>A aplicação permite o cadastramento dos dois tipos de usuários possíveis: Médico e Paciente. De acordo com o tipo de usuário escolhido, os parâmetros solicitados no cadastro são atualizados.</p>
                                    <ul class="list-inline"></ul>
                                    <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                        <i class="fas fa-times me-1"></i>
                                        Close
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Portfolio item 2 modal popup-->
        <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="close-modal" data-bs-dismiss="modal"><%= image_tag("close-icon.svg", class: "close-modal", id: "close-modal") %></div>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <div class="modal-body">
                                    <!-- Project details-->
                                    <h2 class="text-uppercase">Login</h2>
                                    <p class="item-intro text-muted">Autenticação de usuários com o Devise.</p>
                                    <%= image_tag("portfolio/2.jpg", class: "img-fluid d-block mx-auto", id: "portfolio-2") %>
                                    <p>Para que os usuários consigam acessar o dashboard de médico ou paciente, é necessário realizar a autenticação, caso contrário, a visualização é bloqueada.</p>
                                    <ul class="list-inline"></ul>
                                    <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                        <i class="fas fa-times me-1"></i>
                                        Close
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Portfolio item 3 modal popup-->
        <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="close-modal" data-bs-dismiss="modal"><%= image_tag("close-icon.svg", class: "close-modal", id: "close-icon") %></div>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <div class="modal-body">
                                    <!-- Project details-->
                                    <h2 class="text-uppercase">Agendamento de Consultas</h2>
                                    <p class="item-intro text-muted">Conexão de um paciente com um médico.</p>
                                    <%= image_tag("portfolio/3.jpg", class: "img-fluid d-block mx-auto", id: "portfolio-3") %>
                                    <p>Os pacientes têm a possibilidade de agendar consultas com um determinado médico em um determinado horário, caso o médico escolhido esteja disponível no horário.</p>
                                    <ul class="list-inline"></ul>
                                    <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                        <i class="fas fa-times me-1"></i>
                                        Close
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Portfolio item 4 modal popup-->
        <div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="close-modal" data-bs-dismiss="modal"><%= image_tag("close-icon.svg", class: "close-modal", id: "close-icon") %></div>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <div class="modal-body">
                                    <!-- Project details-->
                                    <h2 class="text-uppercase">Realização da Consulta</h2>
                                    <p class="item-intro text-muted">Integração com o Google Meet.</p>
                                    <%= image_tag("portfolio/4.jpg", class: "img-fluid d-block mx-auto", id: "portfolio-4") %>
                                    <p>Após o agendamento da consulta por um paciente, um link para uma reunião no Google Meet é gerado, para que o paciente acesse no dia e horário marcados.</p>
                                    <ul class="list-inline"></ul>
                                    <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                        <i class="fas fa-times me-1"></i>
                                        Close
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Portfolio item 5 modal popup-->
        <div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="close-modal" data-bs-dismiss="modal"><%= image_tag("close-icon.svg", class: "close-modal", id: "close-icon") %></div>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <div class="modal-body">
                                    <!-- Project details-->
                                    <h2 class="text-uppercase">Anamnese</h2>
                                    <p class="item-intro text-muted">Pesquisa para os Pacientes.</p>
                                    <%= image_tag("portfolio/5.jpg", class: "img-fluid d-block mx-auto", id: "portfolio-5") %>
                                    <p>Após o agendamento da consulta pelo paciente, é disponibilizado para o mesmo a realização de uma Anamnese para coletar algumas informações que serão úteis para o médico durante a consulta. A anamnese varia de acordo com a área da consulta.</p>
                                    <ul class="list-inline"></ul>
                                    <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                        <i class="fas fa-times me-1"></i>
                                        Close
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Portfolio item 6 modal popup-->
        <div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="close-modal" data-bs-dismiss="modal"><%= image_tag("close-icon.svg", class: "close-modal", id: "close-icon") %></div>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <div class="modal-body">
                                    <!-- Project details-->
                                    <h2 class="text-uppercase">Histórico de Consultas</h2>
                                    <p class="item-intro text-muted">Visualizar Consultas Realizadas.</p>
                                    <%= image_tag("portfolio/6.jpg", class: "img-fluid d-block mx-auto", id: "portfolio-6") %>
                                    <p>Os pacientes poderão visualizar o histórico das consultas que já realizaram, informações como: dia, horário, status da consulta, exames e remédios receitados, além da resposta da anamnese.</p>
                                    <ul class="list-inline"></ul>
                                    <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                        <i class="fas fa-times me-1"></i>
                                        Close
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <!-- * *                               SB Forms JS                               * *-->
        <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
    </body>
</html>
