<p id="notice"><%= notice %></p>

<h1>Occupation Areas</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @occupation_areas.each do |occupation_area| %>
      <tr>
        <td><%= occupation_area.name %></td>
        <td><%= occupation_area.description %></td>
        <td><%= link_to 'Show', occupation_area %></td>
        <td><%= link_to 'Edit', edit_occupation_area_path(occupation_area) %></td>
        <td><%= link_to 'Destroy', occupation_area, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Occupation Area', new_occupation_area_path %>
