<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @occupation_area.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @occupation_area.description %>
</p>

<%= link_to 'Edit', edit_occupation_area_path(@occupation_area) %> |
<%= link_to 'Back', occupation_areas_path %>
